{% load account %}

<p>Hi {{ user.profile.first_name }},</p>

<p>We're working to launch <a href="https://beta.womenandcolor.com">Women and Color's new website</a>, and want to give you the chance to update your profile before the site goes live.</p>

<p>Please click on the link below to set a password for your account — yes, you can now manage your own profile!</p>

<p><strong><a href="{{ password_reset_url }}">Reset your password</a></strong><p>

<p><strong>New features for speaker profile:</strong><p>

<ul>
  <li>Highlight your achievements with your bio</li>
  <li>Inform organizers of your gender pronouns</li>
  <li>Link to your LinkedIn and website</li>
</ul>

<p>Should you run into any issues, please reply to this email and we'll be happy to help.</p>

<p>Thank you!</p>
<p>Women and Color</p>

<p>PS — The site is still in progress so please bear with us as we get it into shape. If you're able to help, you can contribute to our Github repo here: <a href="https://github.com/CivicTechTO/women-and-color-frontend">https://github.com/CivicTechTO/women-and-color-frontend</a></p>