<p>{{recipient_name}} has been sent a message via <a href="www.womenandcolor.com">www.womenandcolor.com</a>.</p>

<br>

<p><strong>From:</strong> {{sender_name}}</p>
<p><strong>Email provided:</strong> {{email}}</p>
<p><strong>Event name:</strong> {{event}}</p>
<p><strong>Event date:</strong> {{date}}</p>
<p><strong>Event time:</strong> {{time}}</p>
<p><strong>Venue:</strong> {{venue}}</p>
<p><strong>Speaker compensation:</strong> {{compensation}}</p>
<p><strong>Code of Conduct:</strong> {{code_of_conduct}}</p>
<p><strong>Message:</strong></p>
<p>{{comments}}</p>