<p>Hi {{recipient_name}},</p>

<p>{{sender_name}} has sent you a message from <a href="www.womenandcolor.com">www.womenandcolor.com</a>!</p>

<br>

<p><strong>From:</strong> {{email}}</p>
<p><strong>Event date:</strong> {{date}}</p>
<p><strong>Event time:</strong> {{time}}</p>
<p><strong>Venue:</strong> {{venue}}</p>
<p><strong>Speaker compensation:</strong> {{compensation}}</p>
<p><strong>Code of Conduct:</strong> {{code_of_conduct}}</p>
<p><strong>Message:</strong></p>
<p>{{comments}}</p>

<br>

<p>If you're interested in this speaking opportunity, please contact {{sender_name}} at {{email}}.</p>

