<p>Hi {{first_name}}<p>,

<p>We're working to launch Women and Color's new website and want to give you some time to update your profile before it goes live.</p>

<p>Please click on the link below to set a password for your account — yes, you can now manage your own profile!</p>

<a href="{{reset_password_url}}">Request a new password</a>

New features for speaker profile:

- Highlight your achievements in your bio
- Inform organizers of your gender pronouns
- Link to your LinkedIn and website

Should you run into any issues, please reply to this email and we'll be happy to help.

Thank you!

Women and Color

PS — The site is still in progress so please bear with us as we get it into shape. If you're able to help, you can contribute to our Github repo here: https://github.com/CivicTechTO/women-and-color-frontend