{% autoescape off %}
Hello,

You're receiving this e-mail because you or someone else has requested a password for your account at www.womenandcolor.com with the username {{ user.get_username }}.

It can be safely ignored if you did not request a password reset. Click the link below to reset your password.

https://www.womenandcolor.com/confirm-reset-password?uid={{uid}}&token={{token}}

If you need any assistance with your account, you can contact us at hello@womenandcolor.com.

Sincerely,
The Women and Color team
{% endautoescape %}
