<!doctype html>
{% load  i18n staticfiles static %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %} {% if settings.SITE_TAGLINE %}:: {{ settings.SITE_TAGLINE }} {% endif %}</title>
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection">
<link href="{% static 'css/common.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="{% static 'css/registration.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{% block extra_js %}{% endblock %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->
{% block extra_head %}{% endblock %}
<body>
    <!-- Header navigation menu -->
      <div id="navigation-container" style="margin-bottom: 120px;"></div>

    <!-- Header navigation menu end -->
    <div class="container">
        <div class="row">
            {% block body %}
                {% block content %}
                {% endblock %}
            {% endblock %}

            {% block extra_body %}
            {% endblock %}
            <script type="text/javascript" src="http://localhost:8080/navigation.js"></script>
        </div>
    </div>
</body>
</html>
