{% extends "account/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col s12 m8 offset-m3">
<h1 class="flow-text">{% trans "Sign Out" %}</h1>
<p class="flow-text">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" title="Yes. Logout!" class="btn-floating btn-large waves-effect waves-light green"><i class="large material-icons">done</i></button>
  <button onclick="window.history.back(); return false;" title="Cancel logout" class="btn-floating btn-large waves-effect waves-light red"><i class="medium material-icons">cancel</i></button>
</form>
</div>

{% endblock %}
