{% extends "account/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col s12 m8 offset-m2">

    <h1 class="flow-text">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <label class='col-md-12 alert alert-danger' for="{{ field.html_name }}">
                {{ form.non_field_errors }}
            </label>
          {% endif %}

          {% for field in form %}
              <div class='row form-group {% if field.errors %}has-error{% endif %}'>
                  {% if field.errors %}
                      <span class='col-m12' for="{{ field.html_name }}" style="color:red;">
                          {{ field.errors }}
                      </span>
                  {% endif %}

                  <div class='col m12'>
                      {{ field.label }}
                  </div>

                  <div class='col m12'>
                      {{ field }}
                  </div>
              </div>
          {% endfor %}
        <button type="submit" title="{% trans 'Reset My Password' %}" class="btn-large">done</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
