{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col s12 m8 offset-m2">
    <h1 class="flow-text">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used or expired. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <label class='col-md-12 alert alert-danger' for="{{ field.html_name }}">
                        {{ form.non_field_errors }}
                    </label>
                  {% endif %}

                  {% for field in form %}
                      <div class='row form-group {% if field.errors %}has-error{% endif %}'>
                          {% if field.errors %}
                              <span class='col-m12' for="{{ field.html_name }}" style="color:red;">
                                  {{ field.errors }}
                              </span>
                          {% endif %}

                          <div class='col m12'>
                              {{ field.label }}
                          </div>

                          <div class='col m12'>
                              {{ field }}
                          </div>
                      </div>
                  {% endfor %}
                <button type="submit" class="btn-floating btn-large waves-effect waves-light" name="action" title="{% trans 'change password' %}"><i class="large material-icons">done</i></button>
            </form>
        {% else %}
            <p class="flow-text">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
