{% extends "account/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col s12 m8 offset-m2">
  <div class="card hoverable auth-form">
    <div class="card-content">

      <h1 class="flow-text">{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <div class="row">
        <div class="col s12">
          <p>{% trans "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
      </div>

      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          {% if form.non_field_errors %}
              <label class='col s12 alert alert-danger' for="{{ field.html_name }}">
                  {{ form.non_field_errors }}
              </label>
            {% endif %}

            {% for field in form %}
                <div class='row form-group {% if field.errors %}has-error{% endif %}'>
                    {% if field.errors %}
                        <span class='col s12' for="{{ field.html_name }}" style="color:red;">
                            {{ field.errors }}
                        </span>
                    {% endif %}

                    <div class='col s12 input-label'>
                        {{ field.label }}
                    </div>

                    <div class='col s12 input-field'>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
          <button type="submit" title="{% trans 'Reset My Password' %}" class="button button-primary indigo darken-4">Send</button>
      </form>

    </div>
  </div>

  <div class='centeredContainer'>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>

{% endblock %}
