P{% extends "account/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col s12 m8 offset-m2">

    <h1 class="flow-text">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <label class='col-md-12 alert alert-danger' for="{{ field.html_name }}">
                {{ form.non_field_errors }}
            </label>
          {% endif %}

          {% for field in form %}
              <div class='row form-group {% if field.errors %}has-error{% endif %}'>
                  {% if field.errors %}
                      <span class='col-m12' for="{{ field.html_name }}" style="color:red;">
                          {{ field.errors }}
                      </span>
                  {% endif %}

                  <div class='col m12'>
                      {{ field.label }}
                  </div>

                  <div class='col m12'>
                      {{ field }}
                  </div>
              </div>
          {% endfor %}
        <button type="submit" name="action" class="btn-floating btn-large waves-light waves-effect" title="Change Password"><i class="large material-icons">done</i></button>
    </form>
</div>
{% endblock %}
