## Contact one of the contributors to get the rest of the environment variables for this file

POSTGRES_USER=civictech
POSTGRES_PASSWORD=password
POSTGRES_DB=women-and-color
POSTGRES_HOST=postgres
DEBUG=true
S3_BUCKET=womenandcolor
SECRET_KEY=xjl6jzimka0pfp=2i_g!%&&$rml8b^z$@=g8zw3zvnu6z+wg7a
