## Contact one of the contributors to get the environment variables for this file

POSTGRES_USER=civictech
POSTGRES_PASSWORD=password
POSTGRES_DB=women-and-color
POSTGRES_HOST=postgres
DEBUG=true
FRONTEND_BASE_URL=http://localhost:8080
BACKEND_BASE_URL=http://localhost:8000

# SENDGRID_ACCOUNT=
# SENDGRID_PASSWORD=
# AWS_ACCESS_KEY=
# AWS_SECRET_KEY=
# S3_BUCKET=